.search-bar {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 700px;
  height: 64px;
}

.search-icon {
  margin-left: 5px;
  color: #999;
}

/* input[type="text"] {
  border: none;
  outline: none;
  flex: 1;
} */