.fd-account {
  width: 238px;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid rgba(32, 32, 32, 0.5);
}

.fd-leftdiv-icon {
  width: 29px;
  height: 29px;
  color: #000000;
}

/* farmers dashboard divider */



.fd-rightdiv-second-div-bg {
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(64, 64, 64, 0.1);
}

.dashboard-box1 {
  border-radius: 5px;
  border: 1.241px solid rgba(0, 0, 0, 0.2);
  background: #fff;
}
  
.fd-overview {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background: var(--color-primary-60, #fff);
}

.fd-right-upper-div {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background: #fff;
}

.fd-overview-button {
  height: auto;
  border-radius: 5px;
  border: 0.911px solid #000;
  padding: 4px 8px;
}

.fd-overview-right {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background: var(--color-primary-60, #fff);
}

/* -============== */
.top-product-on-demand {
  width: 600px;
  border-radius: 5.279px;
  border: 1.05px solid rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, #6abd45 0%, rgba(106, 189, 69, 0) 100%);
}

.t-p-o-d-header {
  width: 100%;
  border-radius: var(--Cart-cart, 0px);
  border-bottom: 1px solid #fff;
}

/* =================== */
.t-p-o-d-body {
  width: 41.91px;
  height: 39.675px;
  border-radius: 100px;
  background: #d9d9d9;
  overflow: hidden;
}

.t-p-o-d-body-card {
  width: 100%;
  border-radius: 7.026px;
  background: var(--color-primary-60, #fff);
}

/* ========== */
.s-h-header {
  width: 100%;
  background: var(--color-primary-60, #fff);
border-bottom : 2px solid rgba(138, 120, 120, 0.50);
}